aniso8601
blinker
cffi
click
cryptography
Flask
Flask-RESTful
Flask-SQLAlchemy
greenlet
importlib-metadata
iniconfig==2.0.0
itsdangerous
Jinja2
MarkupSafe
mysqlclient
packaging==24.0
pluggy==1.5.0
pycparser
PyMySQL
pytest==8.1.1
python-dateutil
python-dotenv
pytz
setuptools==69.0.3
six
SQLAlchemy
typing_extensions
Werkzeug
wheel==0.42.0
zipp