aniso8601
blinker
cffi
click
cryptography
Flask
Flask-RESTful
Flask-SQLAlchemy
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
pycparser
PyMySQL
python-dateutil
python-dotenv
pytz
setuptools==69.0.3
six
SQLAlchemy
typing_extensions
Werkzeug
wheel==0.42.0
zipp
